@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --light: #FCFCFC;
  --black: #0F0E17;
  --dark-black: #585760;
  --orange: #FF8906;
  --red: #F25F4C;
}

body{
  background: var(--light);

  #outline_logo{
    transform: rotate(90deg);
    position: absolute;
    top: 1010px;
    left: -1000px;
    z-index: -1;
    width: 2800px;
    opacity: .05;
  }
}